/* Основні стилі */
body {
    font-family: Arial, sans-serif;
    margin: 30px;
    padding: 30px;
    background-color: #EAF4BC;
    color: #333;
    font-size: 18px;
}

h1 {
    text-align:center
}

/* Шапка сайту */
.header {
    background-color: #0073e6;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

/* Меню навігації */
.navbar {
    display: flex;
    justify-content: center;
    background-color: #005bb5;
    padding: 10px 0;
}
.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 18px;
}
.navbar a:hover {
    background-color: #003f7f;
    border-radius: 5px;
}

button {
    background-color:#D9CB5C;
    border-radius: 5px;
    font-size: 18px;
    margin: 40px;
    padding: 10px;
}

/* Підвал сайту */
footer {

    text-align: center;


}

a {
     margin: 40px;
}

