/* Основні стилі */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    text-align:center
}

/* Шапка сайту */
.header {
    background-color: #0073e6;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

/* Меню навігації */
.navbar {
    display: flex;
    justify-content: center;
    background-color: #005bb5;
    padding: 10px 0;
}
.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 18px;
}
.navbar a:hover {
    background-color: #003f7f;
    border-radius: 5px;
}



/* Підвал сайту */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}
