{% extends 'layout.html' %}

{% block title %}
Додати одяг
{% endblock %}

{% block content %}
<div>
    <h1>Додавання одягу</h1>
    <form method="POST">
        <p>Назва товару: </p>
        <input required type="text" name="title" id="title"><br><br>
        <p>Ціна: </p>
        <input required type="number" name="price" id="price"><br><br>
        <p>Країна: </p>
        <input required type="text" name="country" id="country"><br><br>
        <button type="submit">Зберегти</button>
    </form>
</div>
{% endblock %}
